<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>DDCANMON - Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/login.css" />
    </h:head>
    <h:body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="login-title">DDCANMON</h1>
                <h3 class="login-subtitle">Helping you on your way to recovery</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrap">
                    <p class="form-title">Sign In</p>
                    <h:form class="login">
                        <h:inputText a:placeholder="Username" value="#{user.username}"/>
                        <h:inputSecret a:placeholder="Password" value="#{user.password}" />
                        <h:commandButton class="btn btn-success btn-sm" value="Login" action="#{user.login()}" />
                    </h:form>
                    <c:if test="#{user.errorMessage != null &amp;&amp; user.errorMessage.length() > 0}">
                        <p class="login-error-msg">#{user.errorMessage}</p>
                    </c:if>
                </div>
            </div>
        </div>
    </div>
        
    </h:body>
</html>

